<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.jenkinsci.plugins.test1.TextExamplePublisher plugin="test1@1.0-SNAPSHOT">
      <version></version>
      <apikey>jnsdkfnakjsdnfkja</apikey>
      <qtm4jurl></qtm4jurl>
      <file></file>
      <testrunname>asdfads</testrunname>
      <labels></labels>
      <sprint></sprint>
      <component></component>
    </org.jenkinsci.plugins.test1.TextExamplePublisher>
  </publishers>
  <buildWrappers/>
</project>